.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  @media screen and (max-width: 780px) {
    width: 100%;
  }
  height: 100%;
  background-color: white;
  box-shadow: 2px 2px 50px rgb(204, 204, 204);
  transform: translateX(-100%);
  transition: all 0.3s ease;
  opacity: 0;

  .library-heading {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h2 {
    padding-left: 2rem;
  }
  .close-library {
    padding-right: 2rem;
    cursor: pointer;
  }
  &.active-library {
    transform: translateX(0);
    opacity: unset;
    background: #fffffff0;
  }

  .library-songs {
    overflow: scroll;
    height: calc(100vh - 7rem);
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;
  img {
    width: 30%;
  }
  @media (hover: hover) {
    &:hover {
      background: #ffebeb;
    }
  }
}

.selected {
  background: linear-gradient(to right, #ffcffe, #afdeff);
}

.song-description {
  padding-left: 1rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
