nav {
  display: flex;
  justify-content: center;
  .wrapper {
    display: flex;
    width: 80%;
    max-width: 60rem;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
  }
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid rgb(65, 65, 65);
    padding: 0.5rem;
    transition: all 0.3s ease;
    z-index: 9;
    @media (hover: hover) {
      &:hover {
        background: rgb(65, 65, 65);
        color: white;
      }
    }
    &.is-playing {
      color: white;
      border: 2px solid whitesmoke;
    }
  }
}
