*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: rgb(87, 87, 87);
}

h4 {
  font-size: 0.7rem;
}

body {
  font-family: "Lato", sans-serif;
}

.App {
  transition: all 0.3s ease;
  &.active-library {
    margin-left: 20rem;
    @media screen and (max-width: 780px) {
      margin-left: 0rem;
    }
  }
  &.is-playing {
    h1 {
      color: pink;
    }
    h2 {
      color: white;
    }
    h3 {
      color: #ffffff91;
    }
    h4 {
      color: #c5c5c569;
    }
  }
}

@import "./library";
@import "./nav";
@import "./player";
@import "./song";
